@import url(root.css);
@import url(reset.css);
@import url(globalStyle.css);
@import url(navbar.css);
@import url(banner.css);
@import url(product_section.css);
@import url(product_card.css);
@import url(footer.css);

@import url(product_details.css);
@import url(shop.css);
@import url(cart.css);

.toTop {
    width: 2.5em;
    height: 2.5em;
    position: fixed;
    right: 1.5em;
    bottom: 5em;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}
.toTop i {
    color: white;
}
